{ "openapi": "3.0.0", "info": { "title": "FastAPI", "description": "A simple fastapi application that services registered agents information", "version": "0.1.0" }, "servers": [ { "url": "https://agentverse.ai" } ], "paths": { "/v1/almanac/recent": { "get": { "tags": [ "almanac" ], "summary": "Get Recently Registered Agents", "operationId": "get_recently_registered_agents", "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "items": { "$ref": "#/components/schemas/Agent" }, "type": "array", "title": "Response Get Recently Registered Agents" } } } } } } }, "/v1/almanac/agents/{address}": { "get": { "tags": [ "almanac" ], "summary": "Get Specific Agent", "operationId": "get_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "prefix", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Prefix" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/agents": { "post": { "tags": [ "almanac" ], "summary": "Register Agent", "operationId": "register_agent", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentRegistrationAttestation" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/agents/{agent_address}/status": { "post": { "tags": [ "almanac" ], "summary": "Update Agent Status", "operationId": "update_agent_status", "parameters": [ { "name": "agent_address", "in": "path", "required": true, "schema": { "type": "string", "title": "Agent Address" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentStatusUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/agents/batch": { "post": { "tags": [ "almanac" ], "summary": "Register Agents Batch", "operationId": "register_agents_batch_v1_almanac_agents_batch_post", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentRegistrationAttestationBatch" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests": { "post": { "tags": [ "manifests" ], "summary": "Upload Manifest", "operationId": "list_manifests", "requestBody": { "content": { "application/json": { "schema": { "title": "Raw Manifest" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests/protocols/{protocol_digest}": { "get": { "tags": [ "manifests" ], "summary": "Get Protocol Manifest", "operationId": "get_manifest", "parameters": [ { "name": "protocol_digest", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[a-f0-9]{64}$", "title": "Protocol Digest" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Manifest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests/digests/": { "get": { "tags": [ "manifests" ], "summary": "Resolve Procotol Digests", "operationId": "resolve_protocol_digest", "parameters": [ { "name": "protocol_digest", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "array", "items": { "type": "string" } }, { "type": "null" } ], "title": "Protocol Digest" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ResolvedProtocolDigest" }, "title": "Response Resolve Protocol Digest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests/digests/search/": { "get": { "tags": [ "manifests" ], "summary": "Search Procotol Digests", "operationId": "search_protocol_digests", "parameters": [ { "name": "name", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "default": "", "title": "Name" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ResolvedProtocolDigest" }, "title": "Response Search Protocol Digests" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests/models/{model_digest}": { "get": { "tags": [ "manifests" ], "summary": "Get Protocol Models", "operationId": "get_protocol_models", "parameters": [ { "name": "model_digest", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[a-f0-9]{64}$", "title": "Model Digest" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/usage/current": { "get": { "tags": [ "usage" ], "summary": "Get User Usage", "operationId": "get_user_usage", "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AlmanacUsage" } } } } }, "security": [ { "FaunaAuthorizationScheme": [] } ] } }, "/v1/almanac/handles/{handle}": { "get": { "tags": [ "almanac" ], "summary": "Get Agent Handle", "operationId": "resolve_agent_handle_to_address", "parameters": [ { "name": "handle", "in": "path", "required": true, "schema": { "type": "string", "title": "Handle" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HandleResponse" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "almanac" ], "summary": "Delete Agent Handle", "operationId": "delete_agent_handle", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "handle", "in": "path", "required": true, "schema": { "type": "string", "title": "Handle" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/handles/available": { "post": { "tags": [ "almanac" ], "summary": "Check Agent Handle Availability", "operationId": "check_agent_handle_availability", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HandleAvailabilityRequest" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HandleAvailabilityResponse" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/handles": { "post": { "tags": [ "almanac" ], "summary": "Create Agent Handle", "operationId": "create_agent_handle", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewHandleRequest" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } }, "security": [ { "FaunaAuthorizationScheme": [] } ] } }, "/v2/almanac/resolve/{identifier}": { "get": { "tags": [ "almanac-v2" ], "summary": "Resolve Identifier V2", "description": "Resolve any agent identifier (address, handle, or domain) to agent details with endpoints.\nThis is a unified resolver that can handle:\n- Agent addresses (agent1q...)\n- Handles (my-agent)\n- Domain names (my-agent.agentverse.ai)", "operationId": "resolve_identifier_v2", "parameters": [ { "name": "identifier", "in": "path", "required": true, "schema": { "type": "string", "description": "Agent identifier (address, handle, or domain)", "title": "Identifier" }, "description": "Agent identifier (address, handle, or domain)" } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/almanac/manifest": { "post": { "tags": [ "almanac-v2" ], "summary": "Upload Manifest V2", "description": "Upload a new manifest", "operationId": "upload_manifest_v2", "requestBody": { "content": { "application/json": { "schema": { "title": "Raw Manifest" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/almanac/manifest/{digest}": { "get": { "tags": [ "almanac-v2" ], "summary": "Get Manifest V2", "description": "Get a manifest by protocol digest", "operationId": "get_manifest_v2", "parameters": [ { "name": "digest", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[a-f0-9]{64}$", "title": "Digest" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Manifest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/almanac/manifest/name/{name}": { "get": { "tags": [ "almanac-v2" ], "summary": "Get Manifest By Name V2", "description": "Get a manifest by name (returns the latest version)", "operationId": "get_manifest_by_name_v2", "parameters": [ { "name": "name", "in": "path", "required": true, "schema": { "type": "string", "title": "Name" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Manifest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/almanac/manifest/model/{digest}": { "get": { "tags": [ "almanac-v2" ], "summary": "Get Protocol Model V2", "description": "Get a model by digest", "operationId": "get_protocol_model_v2", "parameters": [ { "name": "digest", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[a-f0-9]{64}$", "title": "Digest" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/almanac/handles/{handle}/available": { "get": { "tags": [ "almanac-v2" ], "summary": "Check Handle Availability V2", "description": "Check if a handle is available", "operationId": "check_handle_availability_v2", "parameters": [ { "name": "handle", "in": "path", "required": true, "schema": { "type": "string", "description": "Handle to check for availability", "title": "Handle" }, "description": "Handle to check for availability" } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HandleAvailabilityResponse" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/almanac/handles/{handle}/generate": { "get": { "tags": [ "almanac-v2" ], "summary": "Generate Handle V2", "description": "Generate a unique handle based on the provided name", "operationId": "generate_handle_v2", "parameters": [ { "name": "handle", "in": "path", "required": true, "schema": { "type": "string", "description": "Base name for handle generation", "title": "Handle" }, "description": "Base name for handle generation" } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HandleGenerateResponse" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } } }, "components": { "schemas": { "Agent": { "properties": { "status": { "$ref": "#/components/schemas/AgentStatus", "description": "Current operational status of the agent" }, "type": { "type": "string", "enum": [ "hosted", "local", "mailbox", "proxy", "custom" ], "title": "Type", "description": "Type/category of the agent" }, "address": { "type": "string", "title": "Address", "description": "Unique blockchain address of the agent" }, "domain_name": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Domain Name", "description": "Associated domain name, if available" }, "endpoints": { "items": { "$ref": "#/components/schemas/AgentEndpoint" }, "type": "array", "title": "Endpoints", "description": "List of agent's endpoints" }, "metadata": { "anyOf": [ { "additionalProperties": true, "type": "object" }, { "type": "null" } ], "title": "Metadata", "description": "Additional arbitrary metadata" }, "protocols": { "items": { "type": "string" }, "type": "array", "title": "Protocols", "description": "Supported protocol identifiers" }, "expiry": { "type": "string", "format": "date-time", "title": "Expiry", "description": "Expiration timestamp of the agent" } }, "type": "object", "required": [ "status", "type", "address", "endpoints", "protocols", "expiry" ], "title": "Agent" }, "AgentEndpoint": { "properties": { "url": { "type": "string", "title": "Url" }, "weight": { "type": "integer", "title": "Weight" } }, "type": "object", "required": [ "url", "weight" ], "title": "AgentEndpoint" }, "AgentRegistrationAttestation": { "properties": { "agent_identifier": { "type": "string", "title": "Agent Identifier" }, "signature": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Signature" }, "timestamp": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Timestamp" }, "protocols": { "items": { "type": "string" }, "type": "array", "title": "Protocols", "description": "list of supported protocol identifiers" }, "endpoints": { "items": { "$ref": "#/components/schemas/AgentEndpoint" }, "type": "array", "title": "Endpoints", "description": "Declared service endpoints" }, "metadata": { "anyOf": [ { "additionalProperties": { "anyOf": [ { "type": "string" }, { "items": { "type": "string" }, "type": "array" }, { "additionalProperties": { "type": "string" }, "type": "object" } ] }, "type": "object" }, { "type": "null" } ], "title": "Metadata", "description": "Optional metadata with string or string list or nested key-value data" } }, "type": "object", "required": [ "agent_identifier", "protocols", "endpoints" ], "title": "AgentRegistrationAttestation" }, "AgentRegistrationAttestationBatch": { "properties": { "attestations": { "items": { "$ref": "#/components/schemas/AgentRegistrationAttestation" }, "type": "array", "title": "Attestations", "description": "Batch of agent registration attestations" } }, "type": "object", "required": [ "attestations" ], "title": "AgentRegistrationAttestationBatch" }, "AgentStatus": { "type": "string", "enum": [ "active", "offline", "local" ], "title": "AgentStatus" }, "AgentStatusUpdate": { "properties": { "agent_identifier": { "type": "string", "title": "Agent Identifier" }, "signature": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Signature" }, "timestamp": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Timestamp" }, "is_active": { "type": "boolean", "title": "Is Active", "description": "Indicates whether the agent is currently active" } }, "type": "object", "required": [ "agent_identifier", "is_active" ], "title": "AgentStatusUpdate" }, "AlmanacUsage": { "properties": { "num_domains": { "type": "integer", "title": "Num Domains", "description": "Number of domains registered by the user", "default": 0 }, "max_domains": { "type": "integer", "title": "Max Domains", "description": "Max allowed domains for the user", "default": 0 } }, "type": "object", "title": "AlmanacUsage" }, "HTTPValidationError": { "properties": { "detail": { "items": { "$ref": "#/components/schemas/ValidationError" }, "type": "array", "title": "Detail" } }, "type": "object", "title": "HTTPValidationError" }, "HandleAvailabilityRequest": { "properties": { "name": { "type": "string", "title": "Name" } }, "type": "object", "required": [ "name" ], "title": "HandleAvailabilityRequest" }, "HandleAvailabilityResponse": { "properties": { "available": { "type": "boolean", "title": "Available" }, "handle": { "type": "string", "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$", "title": "Handle", "description": "The handle to be used for the agent." }, "alternative": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Alternative" } }, "type": "object", "required": [ "available", "handle" ], "title": "HandleAvailabilityResponse" }, "HandleGenerateResponse": { "properties": { "handle": { "type": "string", "title": "Handle" } }, "type": "object", "required": [ "handle" ], "title": "HandleGenerateResponse" }, "HandleResponse": { "properties": { "agent_address": { "type": "string", "pattern": "^agent1[qpzry9x8gf2tvdw0s3jn54khce6mua7l]{59}$", "title": "Agent Address", "description": "The address of the agent." } }, "type": "object", "required": [ "agent_address" ], "title": "HandleResponse" }, "Interaction": { "properties": { "type": { "$ref": "#/components/schemas/InteractionType", "description": "Type of the interaction" }, "request": { "type": "string", "pattern": "^model:[0-9a-f]{64}$", "title": "Request", "description": "Model reference hash for the request" }, "responses": { "items": { "type": "string", "pattern": "^model:[0-9a-f]{64}$" }, "type": "array", "title": "Responses", "description": "List of model reference hashes for the responses" } }, "type": "object", "required": [ "type", "request", "responses" ], "title": "Interaction" }, "InteractionType": { "type": "string", "enum": [ "normal", "query" ], "title": "InteractionType" }, "Manifest": { "properties": { "version": { "type": "string", "pattern": "^[0-9]+\\.[0-9]+(?:\\.[0-9]+)?$", "title": "Version", "description": "Semantic version of the manifest" }, "metadata": { "$ref": "#/components/schemas/Metadata", "description": "Descriptive metadata for the manifest" }, "models": { "items": { "$ref": "#/components/schemas/Model" }, "type": "array", "title": "Models", "description": "List of included models" }, "interactions": { "items": { "$ref": "#/components/schemas/Interaction" }, "type": "array", "title": "Interactions", "description": "Defined interactions between models" }, "nodes": { "anyOf": [ { "items": { "additionalProperties": true, "type": "object" }, "type": "array" }, { "type": "null" } ], "title": "Nodes", "description": "Optional list of graph nodes" }, "edges": { "anyOf": [ { "items": { "additionalProperties": true, "type": "object" }, "type": "array" }, { "type": "null" } ], "title": "Edges", "description": "Optional list of graph edges representing relationships" } }, "type": "object", "required": [ "version", "metadata", "models", "interactions" ], "title": "Manifest" }, "Metadata": { "properties": { "name": { "type": "string", "title": "Name", "description": "Name of the model or package" }, "description": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Description", "description": "Optional description of the model or package" }, "version": { "type": "string", "pattern": "^[0-9]+\\.[0-9]+(?:\\.[0-9]+)?$", "title": "Version", "description": "Semantic version of the metadata" }, "digest": { "type": "string", "pattern": "^proto:[0-9a-f]{64}$", "title": "Digest", "description": "Content-addressed hash of the protocol definition" } }, "type": "object", "required": [ "name", "version", "digest" ], "title": "Metadata" }, "Model": { "properties": { "digest": { "type": "string", "pattern": "^model:[0-9a-f]{64}$", "title": "Digest", "description": "Content-addressed hash of the model" }, "schema": { "title": "Schema", "description": "JSON schema definition of the model" } }, "type": "object", "required": [ "digest" ], "title": "Model" }, "NewHandleRequest": { "properties": { "agent_address": { "type": "string", "pattern": "^agent1[qpzry9x8gf2tvdw0s3jn54khce6mua7l]{59}$", "title": "Agent Address", "description": "The address of the agent." }, "handle": { "type": "string", "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$", "title": "Handle", "description": "The handle to be used for the agent." } }, "type": "object", "required": [ "agent_address", "handle" ], "title": "NewHandleRequest" }, "ResolvedProtocolDigest": { "properties": { "digest": { "type": "string", "title": "Digest" }, "name": { "type": "string", "title": "Name" }, "version": { "type": "string", "title": "Version" } }, "type": "object", "required": [ "digest", "name", "version" ], "title": "ResolvedProtocolDigest" }, "ValidationError": { "properties": { "loc": { "items": { "anyOf": [ { "type": "string" }, { "type": "integer" } ] }, "type": "array", "title": "Location" }, "msg": { "type": "string", "title": "Message" }, "type": { "type": "string", "title": "Error Type" } }, "type": "object", "required": [ "loc", "msg", "type" ], "title": "ValidationError" } }, "securitySchemes": { "FaunaAuthorizationScheme": { "type": "oauth2", "flows": { "authorizationCode": { "scopes": {}, "authorizationUrl": "", "tokenUrl": "token" } } } } } }
