{ "openapi": "3.0.0", "info": { "title": "FastAPI", "description": "A simple fastapi application that services registered agents information", "version": "0.1.0" }, "servers": [ { "url": "https://agentverse.ai" } ], "paths": { "/v1/almanac/recent": { "get": { "tags": [ "almanac" ], "summary": "Get Recently Registered Agents", "operationId": "get_recently_registered_agents", "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "items": { "$ref": "#/components/schemas/Agent" }, "type": "array", "title": "Response Get Recently Registered Agents" } } } } } } }, "/v1/almanac/agents/{address}": { "get": { "tags": [ "almanac" ], "summary": "Get Specific Agent", "operationId": "get_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "prefix", "in": "query", "required": false, "schema": { "anyOf": [ { "enum": [ "agent", "test-agent" ], "type": "string" }, { "type": "null" } ], "title": "Prefix" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/agents": { "post": { "tags": [ "almanac" ], "summary": "Register Agent", "operationId": "register_agent", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentRegistrationAttestation" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/agents/{agent_address}/status": { "post": { "tags": [ "almanac" ], "summary": "Update Agent Status", "operationId": "update_agent_status", "parameters": [ { "name": "agent_address", "in": "path", "required": true, "schema": { "type": "string", "title": "Agent Address" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentStatusUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/agents/batch": { "post": { "tags": [ "almanac" ], "summary": "Register Agents Batch", "operationId": "register_agents_batch_v1_almanac_agents_batch_post", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentRegistrationAttestationBatch" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests": { "post": { "tags": [ "manifests" ], "summary": "Upload Manifest", "operationId": "list_manifests", "requestBody": { "content": { "application/json": { "schema": { "title": "Raw Manifest" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests/protocols/{protocol_digest}": { "get": { "tags": [ "manifests" ], "summary": "Get Protocol Manifest", "operationId": "get_manifest", "parameters": [ { "name": "protocol_digest", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[a-f0-9]{64}$", "title": "Protocol Digest" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Manifest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests/digests/": { "get": { "tags": [ "manifests" ], "summary": "Resolve Procotol Digests", "operationId": "resolve_protocol_digest", "parameters": [ { "name": "protocol_digest", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "array", "items": { "type": "string" } }, { "type": "null" } ], "title": "Protocol Digest" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ResolvedProtocolDigest" }, "title": "Response Resolve Protocol Digest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests/digests/search/": { "get": { "tags": [ "manifests" ], "summary": "Search Procotol Digests", "operationId": "search_protocol_digests", "parameters": [ { "name": "name", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "default": "", "title": "Name" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ResolvedProtocolDigest" }, "title": "Response Search Protocol Digests" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/almanac/manifests/models/{model_digest}": { "get": { "tags": [ "manifests" ], "summary": "Get Protocol Models", "operationId": "get_protocol_models", "parameters": [ { "name": "model_digest", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[a-f0-9]{64}$", "title": "Model Digest" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } } }, "components": { "schemas": { "Agent": { "properties": { "status": { "$ref": "#/components/schemas/AgentStatus", "description": "Current operational status of the agent" }, "type": { "type": "string", "enum": [ "hosted", "local", "mailbox", "proxy", "custom" ], "title": "Type", "description": "Type/category of the agent" }, "address": { "type": "string", "title": "Address", "description": "Unique blockchain address of the agent" }, "domain_name": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Domain Name", "description": "Associated domain name, if available" }, "prefix": { "anyOf": [ { "type": "string", "enum": [ "agent", "test-agent" ] }, { "type": "null" } ], "title": "Prefix", "description": "Address prefix, e.g., testnet", "default": "test-agent" }, "endpoints": { "items": { "$ref": "#/components/schemas/Endpoint" }, "type": "array", "title": "Endpoints", "description": "List of agent's endpoints" }, "metadata": { "anyOf": [ { "additionalProperties": true, "type": "object" }, { "type": "null" } ], "title": "Metadata", "description": "Additional arbitrary metadata" }, "protocols": { "items": { "type": "string" }, "type": "array", "title": "Protocols", "description": "Supported protocol identifiers" }, "expiry": { "type": "string", "format": "date-time", "title": "Expiry", "description": "Expiration timestamp of the agent" }, "developer_category": { "anyOf": [ { "$ref": "#/components/schemas/DeveloperCategory" }, { "type": "null" } ], "description": "Developer-defined agent classification" }, "name": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Name", "description": "Human-readable name of the agent" }, "running": { "anyOf": [ { "type": "boolean" }, { "type": "null" } ], "title": "Running", "description": "Indicates if the agent is currently running" }, "maintainer_id": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Maintainer Id", "description": "Identifier of the agent maintainer" }, "username": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Username", "description": "Username associated with the agent" }, "code_update_timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Code Update Timestamp", "description": "Last update timestamp of the agent's code" }, "total_interactions": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Total Interactions", "description": "Total number of interactions with the agent" }, "trust_score": { "anyOf": [ { "type": "number" }, { "type": "null" } ], "title": "Trust Score", "description": "Reputation or trust score of the agent" } }, "type": "object", "required": [ "status", "type", "address", "endpoints", "protocols", "expiry" ], "title": "Agent" }, "AgentEndpoint": { "properties": { "url": { "type": "string", "title": "Url" }, "weight": { "type": "integer", "title": "Weight" } }, "type": "object", "required": [ "url", "weight" ], "title": "AgentEndpoint" }, "AgentRegistrationAttestation": { "properties": { "agent_identifier": { "type": "string", "title": "Agent Identifier" }, "signature": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Signature" }, "timestamp": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Timestamp" }, "protocols": { "items": { "type": "string" }, "type": "array", "title": "Protocols", "description": "list of supported protocol identifiers" }, "endpoints": { "items": { "$ref": "#/components/schemas/AgentEndpoint" }, "type": "array", "title": "Endpoints", "description": "Declared service endpoints" }, "metadata": { "anyOf": [ { "additionalProperties": { "anyOf": [ { "type": "string" }, { "items": { "type": "string" }, "type": "array" }, { "additionalProperties": { "type": "string" }, "type": "object" } ] }, "type": "object" }, { "type": "null" } ], "title": "Metadata", "description": "Optional metadata with string or string list or nested key-value data" } }, "type": "object", "required": [ "agent_identifier", "protocols", "endpoints" ], "title": "AgentRegistrationAttestation" }, "AgentRegistrationAttestationBatch": { "properties": { "attestations": { "items": { "$ref": "#/components/schemas/AgentRegistrationAttestation" }, "type": "array", "title": "Attestations", "description": "Batch of agent registration attestations" } }, "type": "object", "required": [ "attestations" ], "title": "AgentRegistrationAttestationBatch" }, "AgentStatus": { "type": "string", "enum": [ "active", "offline", "local" ], "title": "AgentStatus" }, "AgentStatusUpdate": { "properties": { "agent_identifier": { "type": "string", "title": "Agent Identifier" }, "signature": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Signature" }, "timestamp": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Timestamp" }, "is_active": { "type": "boolean", "title": "Is Active", "description": "Indicates whether the agent is currently active" } }, "type": "object", "required": [ "agent_identifier", "is_active" ], "title": "AgentStatusUpdate" }, "DeveloperCategory": { "type": "string", "enum": [ "Community", "Verified", "FetchMember" ], "title": "DeveloperCategory" }, "Endpoint": { "properties": { "url": { "type": "string", "title": "Url", "description": "Endpoint URL" }, "weight": { "type": "integer", "title": "Weight", "description": "Relative weight for load balancing or priority" } }, "type": "object", "required": [ "url", "weight" ], "title": "Endpoint" }, "HTTPValidationError": { "properties": { "detail": { "items": { "$ref": "#/components/schemas/ValidationError" }, "type": "array", "title": "Detail" } }, "type": "object", "title": "HTTPValidationError" }, "Interaction": { "properties": { "type": { "$ref": "#/components/schemas/InteractionType", "description": "Type of the interaction" }, "request": { "type": "string", "pattern": "^model:[0-9a-f]{64}$", "title": "Request", "description": "Model reference hash for the request" }, "responses": { "items": { "type": "string", "pattern": "^model:[0-9a-f]{64}$" }, "type": "array", "title": "Responses", "description": "List of model reference hashes for the responses" } }, "type": "object", "required": [ "type", "request", "responses" ], "title": "Interaction" }, "InteractionType": { "type": "string", "enum": [ "normal", "query" ], "title": "InteractionType" }, "Manifest": { "properties": { "version": { "type": "string", "pattern": "^[0-9]+\\.[0-9]+(?:\\.[0-9]+)?$", "title": "Version", "description": "Semantic version of the manifest" }, "metadata": { "$ref": "#/components/schemas/Metadata", "description": "Descriptive metadata for the manifest" }, "models": { "items": { "$ref": "#/components/schemas/Model" }, "type": "array", "title": "Models", "description": "List of included models" }, "interactions": { "items": { "$ref": "#/components/schemas/Interaction" }, "type": "array", "title": "Interactions", "description": "Defined interactions between models" }, "nodes": { "anyOf": [ { "items": { "additionalProperties": true, "type": "object" }, "type": "array" }, { "type": "null" } ], "title": "Nodes", "description": "Optional list of graph nodes" }, "edges": { "anyOf": [ { "items": { "additionalProperties": true, "type": "object" }, "type": "array" }, { "type": "null" } ], "title": "Edges", "description": "Optional list of graph edges representing relationships" } }, "type": "object", "required": [ "version", "metadata", "models", "interactions" ], "title": "Manifest" }, "Metadata": { "properties": { "name": { "type": "string", "title": "Name", "description": "Name of the model or package" }, "description": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Description", "description": "Optional description of the model or package" }, "version": { "type": "string", "pattern": "^[0-9]+\\.[0-9]+(?:\\.[0-9]+)?$", "title": "Version", "description": "Semantic version of the metadata" }, "digest": { "type": "string", "pattern": "^proto:[0-9a-f]{64}$", "title": "Digest", "description": "Content-addressed hash of the protocol definition" } }, "type": "object", "required": [ "name", "version", "digest" ], "title": "Metadata" }, "Model": { "properties": { "digest": { "type": "string", "pattern": "^model:[0-9a-f]{64}$", "title": "Digest", "description": "Content-addressed hash of the model" }, "schema": { "title": "Schema", "description": "JSON schema definition of the model" } }, "type": "object", "required": [ "digest" ], "title": "Model" }, "ResolvedProtocolDigest": { "properties": { "digest": { "type": "string", "title": "Digest" }, "name": { "type": "string", "title": "Name" }, "version": { "type": "string", "title": "Version" } }, "type": "object", "required": [ "digest", "name", "version" ], "title": "ResolvedProtocolDigest" }, "ValidationError": { "properties": { "loc": { "items": { "anyOf": [ { "type": "string" }, { "type": "integer" } ] }, "type": "array", "title": "Location" }, "msg": { "type": "string", "title": "Message" }, "type": { "type": "string", "title": "Error Type" } }, "type": "object", "required": [ "loc", "msg", "type" ], "title": "ValidationError" } } } }
