{ "openapi": "3.0.0", "info": { "title": "Agent Hosting API", "description": "\n\n## Overview\n\nThe Agent Hosting API helps users deploy agents to the cloud\n\n## Authentication\n\nThe entire API requires that the user authenticate with the ecosystem first before accessing the api\n", "version": "0.1.0" }, "servers": [ { "url": "https://agentverse.ai" } ], "paths": { "/v1/hosting/agents": { "get": { "tags": [ "hosting" ], "summary": "Get User Agents", "operationId": "list_user_agents", "parameters": [ { "name": "cursor", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Cursor" } }, { "name": "name", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Name" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } }, { "name": "sort_by", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string", "pattern": "^(-?)(modified|created|name)$" }, { "type": "null" } ], "title": "Sort By" } }, { "name": "direction", "in": "query", "required": false, "schema": { "type": "string", "pattern": "^(asc|desc)$", "default": "asc", "title": "Direction" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithPagination_AgentSummaryV1_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "post": { "tags": [ "hosting" ], "summary": "Create New User Agent", "operationId": "create_user_agent", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewAgent" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents": { "get": { "tags": [ "hosting" ], "summary": "Get Team Agents", "operationId": "list_team_agents", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "cursor", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Cursor" } }, { "name": "name", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Name" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } }, { "name": "sort_by", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string", "pattern": "^(-?)(modified|created|name)$" }, { "type": "null" } ], "title": "Sort By" } }, { "name": "direction", "in": "query", "required": false, "schema": { "type": "string", "pattern": "^(asc|desc)$", "default": "asc", "title": "Direction" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithPagination_AgentSummaryV1_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "post": { "tags": [ "hosting" ], "summary": "Create New Team Agent", "operationId": "create_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewAgent" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/profile": { "get": { "tags": [ "hosting" ], "summary": "Get User Agent Public Profile", "operationId": "get_user_agent_profile", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "anyOf": [ { "$ref": "#/components/schemas/PublicAgentV1" }, { "type": "null" } ], "title": "Response Get User Agent Profile" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/profile": { "get": { "tags": [ "hosting" ], "summary": "Get Team Agent Public Profile", "operationId": "get_team_agent_profile", "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "anyOf": [ { "$ref": "#/components/schemas/PublicAgentV1" }, { "type": "null" } ], "title": "Response Get Team Agent Profile" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}": { "get": { "tags": [ "hosting" ], "summary": "Get Specific User Agent", "description": "Looks up a specific agent by address on the hosting platform", "operationId": "get_user_agent_details", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting" ], "summary": "Update Specific User Agent", "description": "Updates a specific agent, by address from the platform", "operationId": "update_user_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAgent" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "hosting" ], "summary": "Delete Specific User Agent", "description": "Deletes a specific agent, by address from the platform", "operationId": "delete_user_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}": { "get": { "tags": [ "hosting" ], "summary": "Get Specific Teams Agent", "description": "Looks up a specific agent by address on the hosting platform", "operationId": "get_team_agent_details", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting" ], "summary": "Update Specific Team Agent", "description": "Updates a specific agent, by address from the platform", "operationId": "update_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAgent" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "hosting" ], "summary": "Delete Specific Team Agent", "description": "Deletes a specific agent, by address from the platform", "operationId": "delete_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/duplicate": { "post": { "tags": [ "hosting" ], "summary": "Duplicate Specific User Agent", "operationId": "duplicate_user_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewAgent" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/duplicate": { "post": { "tags": [ "hosting" ], "summary": "Duplicate Specific Team Agent", "operationId": "duplicate_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewAgent" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/code": { "get": { "tags": [ "hosting" ], "summary": "Get User Agent Code", "description": "Gets the current code for an agent, specified by address", "operationId": "get_user_agent_code", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentCode" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting" ], "summary": "Update User Agent Code", "description": "Updates the code for a specific agent, identified by address", "operationId": "update_user_agent_code", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAgentCode" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentCodeDigest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/code": { "get": { "tags": [ "hosting" ], "summary": "Get Team Agent Code", "description": "Gets the current code for an agent, specified by address", "operationId": "get_team_agent_code", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentCode" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting" ], "summary": "Update Team Agent Code", "description": "Updates the code for a specific agent, identified by address", "operationId": "update_team_agent_code", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAgentCode" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentCodeDigest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/storage": { "get": { "tags": [ "hosting" ], "summary": "Get User Agent Storage", "description": "Gets the storage for an agent, specified by address", "operationId": "get_user_agent_storage", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "cursor", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Cursor" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithPagination_StorageItem_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/storage": { "get": { "tags": [ "hosting" ], "summary": "Get Team Agent Storage", "description": "Gets the storage for an agent, specified by address", "operationId": "get_team_agent_storage", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "cursor", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Cursor" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithPagination_StorageItem_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/storage/{key}": { "get": { "tags": [ "hosting" ], "summary": "Get User Agent Storage By Key", "operationId": "get_user_agent_storage_by_key", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StorageItem" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting" ], "summary": "Update User Agent Storage", "description": "Updates the storage for a specific agent, identified by address", "operationId": "update_user_agent_storage", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StorageItemUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "hosting" ], "summary": "Delete User Agent Storage", "description": "Updates the storage for a specific agent, identified by address", "operationId": "delete_user_agent_storage", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/storage/{key}": { "get": { "tags": [ "hosting" ], "summary": "Get Team Agent Storage By Key", "operationId": "get_team_agent_storage_by_key", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StorageItem" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting" ], "summary": "Update Team Agent Storage", "description": "Updates the storage for a specific agent, identified by address", "operationId": "update_team_agent_storage", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StorageItemUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "hosting" ], "summary": "Delete Team Agent Storage", "description": "Updates the storage for a specific agent, identified by address", "operationId": "delete_team_agent_storage", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/start": { "post": { "tags": [ "hosting" ], "summary": "Start Specific User Agent", "description": "Starts a specific agent, identified by address", "operationId": "start_specific_user_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/start": { "post": { "tags": [ "hosting" ], "summary": "Start Specific Team Agent", "description": "Starts a specific agent, identified by address", "operationId": "start_specific_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/stop": { "post": { "tags": [ "hosting" ], "summary": "Stop Specific User Agent", "description": "Stops a specific agent, identified by address", "operationId": "stop_specific_user_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/stop": { "post": { "tags": [ "hosting" ], "summary": "Stop Specific Team Agent", "description": "Stops a specific agent, identified by address", "operationId": "stop_specific_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV1" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/logs/latest": { "get": { "tags": [ "hosting" ], "summary": "Get Latest Logs For User Agent", "description": "Gets the latest logs for a specific agent, identified by address", "operationId": "get_latest_logs_for_user_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AgentLog" }, "title": "Response Get Latest Logs For User Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/logs/latest": { "get": { "tags": [ "hosting" ], "summary": "Get Latest Logs For Team Agent", "description": "Gets the latest logs for a specific agent, identified by address", "operationId": "get_latest_logs_for_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AgentLog" }, "title": "Response Get Latest Logs For Team Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/logs": { "delete": { "tags": [ "hosting" ], "summary": "Delete Logs For User Agent", "description": "Deletes all the logs for a specific agent, identified by address", "operationId": "delete_logs_for_user_agent", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/logs": { "delete": { "tags": [ "hosting" ], "summary": "Delete Logs For Team Agent", "description": "Deletes all the logs for a specific agent, identified by address", "operationId": "delete_logs_for_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/agents/{address}/network": { "put": { "tags": [ "hosting" ], "summary": "Update User Agent Network", "operationId": "update_user_agent_network_deprecated", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAgentNetwork" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/agents/{address}/network": { "put": { "tags": [ "hosting" ], "summary": "Update Team Agent Network", "operationId": "update_team_agent_network_deprecated", "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAgentNetwork" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/secrets": { "get": { "tags": [ "hosting" ], "summary": "Get User Secret", "description": "Returns all secrets for the given user.", "operationId": "get_user_secrets", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretList" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "post": { "tags": [ "hosting" ], "summary": "Create User Secret", "description": "Creates a new secret for the given agent.", "operationId": "create_user_agent_secret", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretCreate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Secret" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/secrets": { "get": { "tags": [ "hosting" ], "summary": "Get Team Secret", "description": "Returns all secrets for the given team.", "operationId": "get_team_secret", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretList" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "post": { "tags": [ "hosting" ], "summary": "Create Team Secret", "description": "Creates a new secret for the given agent.", "operationId": "create_team_agent_secret", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretCreate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Secret" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/{address}/secrets": { "get": { "tags": [ "hosting" ], "summary": "Get User Agent Secrets", "description": "Returns all secrets for the given agent address.", "operationId": "get_user_agent_secrets", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretList" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/{address}/secrets": { "get": { "tags": [ "hosting" ], "summary": "Get Team Agent Secrets", "description": "Returns all secrets for the given agent address.", "operationId": "get_team_agent_secrets", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretList" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/secrets/{address}/{name}": { "delete": { "tags": [ "hosting" ], "summary": "Delete User Secret", "description": "Deletes a secret for the given address and name.", "operationId": "delete_user_secret", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string", "title": "Name" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/teams/{slug}/secrets/{address}/{name}": { "delete": { "tags": [ "hosting" ], "summary": "Delete Team Secret", "description": "Deletes a secret for the given address and name.", "operationId": "delete_team_secret", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string", "title": "Name" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/hosting/submit": { "post": { "tags": [ "hosting" ], "summary": "Submit Message Envelope", "description": "Submit a message envelope to a hosted agent.", "operationId": "submit_message_envelope", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "anyOf": [ { "$ref": "#/components/schemas/Envelope" }, { "$ref": "#/components/schemas/Empty" } ], "title": "Response Submit Message Envelope" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "head": { "tags": [ "hosting" ], "summary": "Agent Readiness Probe", "description": "Check if an agent is ready to receive messages.", "operationId": "agent_readiness_probe", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/secrets": { "get": { "tags": [ "hosting-v2" ], "summary": "Get All Secrets", "description": "Get all secrets for the authenticated user across all agents.", "operationId": "get_all_user_secrets_v2", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretList" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}/secrets": { "get": { "tags": [ "hosting-v2" ], "summary": "Get Secrets", "description": "Get all secrets for an agent.", "operationId": "get_agent_secrets_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretList" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}/secrets/{name}": { "get": { "tags": [ "hosting-v2" ], "summary": "Get Specific Secret", "description": "Get a specific secret by name for an agent.", "operationId": "get_specific_secret_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string", "title": "Name" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Secret" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting-v2" ], "summary": "Update Secret", "description": "Create or update a secret for an agent.", "operationId": "update_agent_secret_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string", "title": "Name" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecretUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Secret" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "hosting-v2" ], "summary": "Delete Secret Endpoint", "description": "Delete a secret for an agent.", "operationId": "delete_agent_secret_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string", "title": "Name" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}/code": { "get": { "tags": [ "hosting-v2" ], "summary": "Get Code", "description": "Get the current code for an agent.", "operationId": "get_agent_code_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentCode" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting-v2" ], "summary": "Update Code", "description": "Update the code for a specific agent.", "operationId": "update_agent_code_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAgentCode" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentCodeDigest" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/storage": { "get": { "tags": [ "hosting-v2" ], "summary": "Get All Storage", "description": "Get all storage items for the authenticated user across all agents.", "operationId": "get_all_user_storage_v2", "parameters": [ { "name": "cursor", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Cursor" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithPagination_StorageItem_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}/storage": { "get": { "tags": [ "hosting-v2" ], "summary": "Get Storage", "description": "Get all storage items for an agent.", "operationId": "get_agent_storage_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "cursor", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Cursor" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithPagination_StorageItem_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}/storage/{key}": { "get": { "tags": [ "hosting-v2" ], "summary": "Get Storage By Key", "description": "Get a specific storage item by key.", "operationId": "get_agent_storage_by_key_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StorageItem" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "hosting-v2" ], "summary": "Update Storage", "description": "Update a storage item for an agent.", "operationId": "update_agent_storage_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StorageItemUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "hosting-v2" ], "summary": "Delete Storage", "description": "Delete a storage item for an agent.", "operationId": "delete_agent_storage_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "key", "in": "path", "required": true, "schema": { "type": "string", "title": "Key" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}/logs": { "get": { "tags": [ "hosting-v2" ], "summary": "Get Agent Logs", "description": "Get the latest logs for a hosted agent.", "operationId": "get_agent_logs_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AgentLog" }, "title": "Response Get Agent Logs V2" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "hosting-v2" ], "summary": "Delete Agent Logs", "description": "Delete all logs for a hosted agent.", "operationId": "delete_agent_logs_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/submit": { "post": { "tags": [ "hosting-v2" ], "summary": "Submit Message Envelope", "description": "Submit a message envelope to a hosted agent.", "operationId": "submit_message_envelope_v2", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "anyOf": [ { "$ref": "#/components/schemas/Envelope" }, { "$ref": "#/components/schemas/Empty" } ], "title": "Response Submit Message Envelope V2" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "head": { "tags": [ "hosting-v2" ], "summary": "Agent Readiness Probe", "description": "Check if an agent is ready to receive messages.", "operationId": "agent_readiness_probe_v2", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting": { "post": { "tags": [ "hosting-v2" ], "summary": "Create Hosted Agent", "description": "Create a new hosted agent without profile information.\n\nProfile data (name, readme, avatar, description) should be managed via the hub API.\nThis endpoint only creates the agent identity and address in the hosting service.", "operationId": "create_hosted_agent_v2", "parameters": [ { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV2" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "get": { "tags": [ "hosting-v2" ], "summary": "List Hosted Agents", "description": "List all hosted agents for the authenticated user.\n\nNote: Profile data (name, readme, etc.) should be fetched from the hub API.\nThis endpoint returns agent hosting metadata only.\nAgent lists should primarily be fetched from the hub API for richer profile-based features.", "operationId": "list_hosted_agents_v2", "parameters": [ { "name": "cursor", "in": "query", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Cursor" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithPagination_AgentV2_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}": { "get": { "tags": [ "hosting-v2" ], "summary": "Get Hosted Agent", "description": "Get a specific hosted agent by address.\n\nNote: Profile data (name, readme, etc.) should be fetched from the hub API.\nThis endpoint returns agent hosting metadata only.", "operationId": "get_hosted_agent_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV2" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "hosting-v2" ], "summary": "Delete Agent", "description": "Delete a hosted agent (v2 - also removes profile from hub if migrated).", "operationId": "delete_hosted_agent_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true, "title": "Response Delete Hosted Agent V2" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}/start": { "post": { "tags": [ "hosting-v2" ], "summary": "Start Agent", "description": "Start a hosted agent.", "operationId": "start_hosted_agent_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV2" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v2/hosting/{address}/stop": { "post": { "tags": [ "hosting-v2" ], "summary": "Stop Agent", "description": "Stop a hosted agent.", "operationId": "stop_hosted_agent_v2", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } }, { "name": "no_cache", "in": "query", "required": false, "schema": { "type": "boolean", "default": false, "title": "No Cache" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentV2" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } } }, "components": { "schemas": { "AgentCode": { "properties": { "digest": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Digest", "description": "SHA256 digest representing the agent's code." }, "code": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Code", "description": "The current source code of the agent, as a JSON-formatted string." }, "timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Timestamp", "description": "Timestamp of the last code update." } }, "type": "object", "title": "AgentCode", "description": "Model for agent code response." }, "AgentCodeDigest": { "properties": { "digest": { "type": "string", "title": "Digest", "description": "SHA256 digest of the agent's updated code." } }, "type": "object", "required": [ "digest" ], "title": "AgentCodeDigest", "description": "Model for code digest response." }, "AgentGeoLocation": { "properties": { "latitude": { "type": "number", "title": "Latitude" }, "longitude": { "type": "number", "title": "Longitude" }, "radius": { "anyOf": [ { "type": "number" }, { "type": "null" } ], "title": "Radius" } }, "additionalProperties": false, "type": "object", "required": [ "latitude", "longitude" ], "title": "AgentGeoLocation" }, "AgentGeoLocationDetails": { "properties": { "name": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Name", "description": "the full agent location" }, "description": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Description", "description": "the description of the agent location" }, "latitude": { "anyOf": [ { "type": "number" }, { "type": "null" } ], "title": "Latitude", "description": "the latitude of the agent location" }, "longitude": { "anyOf": [ { "type": "number" }, { "type": "null" } ], "title": "Longitude", "description": "the longitude of the agent location" }, "street": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Street", "description": "the street where the agent is located" }, "city": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "City", "description": "the city where the agent is located" }, "state": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "State", "description": "the state where the agent is located" }, "postal_code": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Postal Code", "description": "the postal code where the agent is located" }, "country": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Country", "description": "the country where the agent is located" }, "url": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Url", "description": "the url belonging to the agent location" }, "image_url": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Image Url", "description": "the image url belonging to the agent location" } }, "type": "object", "title": "AgentGeoLocationDetails" }, "AgentLog": { "properties": { "log_timestamp": { "type": "string", "format": "date-time", "title": "Log Timestamp" }, "log_entry": { "type": "string", "title": "Log Entry" }, "log_type": { "$ref": "#/components/schemas/LogType", "default": "execution" }, "log_level": { "$ref": "#/components/schemas/LogLevel", "default": "info" } }, "type": "object", "required": [ "log_timestamp", "log_entry" ], "title": "AgentLog", "description": "Agent log entry model." }, "AgentMetadata": { "properties": { "geolocation": { "anyOf": [ { "$ref": "#/components/schemas/AgentGeoLocation" }, { "$ref": "#/components/schemas/AgentGeoLocationDetails" }, { "type": "null" } ], "title": "Geolocation" } }, "additionalProperties": true, "type": "object", "title": "AgentMetadata", "description": "Model used to validate metadata for an agent.\n\nFramework specific fields will be added here to ensure valid serialization.\nAdditional fields will simply be passed through." }, "AgentNetwork": { "type": "string", "enum": [ "mainnet", "testnet" ], "title": "AgentNetwork", "description": "Agent network selection." }, "AgentSummaryV1": { "properties": { "name": { "type": "string", "title": "Name", "description": "Name of the agent." }, "address": { "type": "string", "title": "Address", "description": "Bech32 address of the agent." }, "domain": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Domain", "description": "Domain name associated with the agent." }, "prefix": { "anyOf": [ { "type": "string", "enum": [ "agent", "test-agent" ] }, { "type": "null" } ], "title": "Prefix", "description": "Address prefix of the agent.", "default": "test-agent" }, "running": { "type": "boolean", "title": "Running", "description": "Whether the agent is currently running." }, "compiled": { "anyOf": [ { "type": "boolean" }, { "type": "null" } ], "title": "Compiled", "description": "Whether the agent code has been compiled." }, "code_digest": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Code Digest", "description": "Digest of the agent's code." }, "wallet_address": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Wallet Address", "description": "Wallet address of the agent." }, "code_update_timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Code Update Timestamp", "description": "Last time the code was updated." }, "creation_timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Creation Timestamp", "description": "Time when the agent was created." }, "avatar_url": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Avatar Url", "description": "URL to the agent's avatar image." } }, "type": "object", "required": [ "name", "address", "running" ], "title": "AgentSummaryV1", "description": "V1 Agent summary with profile fields." }, "AgentV1": { "properties": { "name": { "type": "string", "title": "Name", "description": "Name of the agent." }, "address": { "type": "string", "title": "Address", "description": "Bech32 address of the agent." }, "domain": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Domain", "description": "Domain name associated with the agent." }, "prefix": { "anyOf": [ { "type": "string", "enum": [ "agent", "test-agent" ] }, { "type": "null" } ], "title": "Prefix", "description": "Address prefix of the agent.", "default": "test-agent" }, "running": { "type": "boolean", "title": "Running", "description": "Whether the agent is currently running." }, "compiled": { "anyOf": [ { "type": "boolean" }, { "type": "null" } ], "title": "Compiled", "description": "Whether the agent code has been compiled." }, "code_digest": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Code Digest", "description": "Digest of the agent's code." }, "wallet_address": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Wallet Address", "description": "Wallet address of the agent." }, "code_update_timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Code Update Timestamp", "description": "Last time the code was updated." }, "creation_timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Creation Timestamp", "description": "Time when the agent was created." }, "avatar_url": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Avatar Url", "description": "URL to the agent's avatar image." }, "maintainer_id": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Maintainer Id", "description": "ID of the user maintaining the agent." }, "revision": { "type": "integer", "title": "Revision", "description": "Revision number of the agent." }, "readme": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Readme", "description": "README description of the agent." }, "short_description": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Short Description", "description": "Short description for display." }, "metadata": { "anyOf": [ { "$ref": "#/components/schemas/AgentMetadata" }, { "type": "null" } ], "description": "Metadata associated with the agent." } }, "type": "object", "required": [ "name", "address", "running", "revision" ], "title": "AgentV1", "description": "V1 Agent model with complete profile information." }, "AgentV2": { "properties": { "address": { "type": "string", "title": "Address", "description": "Bech32 address of the agent." }, "running": { "type": "boolean", "title": "Running", "description": "Whether the agent is currently running." }, "compiled": { "anyOf": [ { "type": "boolean" }, { "type": "null" } ], "title": "Compiled", "description": "Whether the agent code has been compiled." }, "code_digest": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Code Digest", "description": "Digest of the agent's code." }, "wallet_address": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Wallet Address", "description": "Wallet address of the agent." }, "code_update_timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Code Update Timestamp", "description": "Last time the code was updated." }, "creation_timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Creation Timestamp", "description": "Time when the agent was created." }, "revision": { "type": "integer", "title": "Revision", "description": "Revision number of the agent.", "default": 0 }, "metadata": { "anyOf": [ { "$ref": "#/components/schemas/AgentMetadata" }, { "type": "null" } ], "description": "Metadata associated with the agent." } }, "type": "object", "required": [ "address", "running" ], "title": "AgentV2", "description": "Agent model for v2 API - excludes profile fields (name, domain, readme, avatar_url, short_description)." }, "Empty": { "properties": {}, "type": "object", "title": "Empty", "description": "Empty response model." }, "Envelope": { "properties": { "version": { "type": "integer", "title": "Version" }, "sender": { "type": "string", "title": "Sender" }, "target": { "type": "string", "title": "Target" }, "session": { "type": "string", "format": "uuid4", "title": "Session" }, "schema_digest": { "type": "string", "title": "Schema Digest" }, "protocol_digest": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Protocol Digest" }, "payload": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Payload" }, "expires": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Expires" }, "nonce": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Nonce" }, "signature": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Signature" } }, "type": "object", "required": [ "version", "sender", "target", "session", "schema_digest" ], "title": "Envelope", "description": "Represents an envelope for message communication between agents.\n\nAttributes:\n version (int): The envelope version.\n sender (str): The sender's address.\n target (str): The target's address.\n session (UUID4): The session UUID that persists for back-and-forth\n dialogues between agents.\n schema_digest (str): The schema digest for the enclosed message.\n protocol_digest (str | None): The digest of the protocol associated with the message\n (optional).\n payload (str | None): The encoded message payload of the envelope (optional).\n expires (int | None): The expiration timestamp (optional).\n nonce (int | None): The nonce value (optional).\n signature (str | None): The envelope signature (optional)." }, "HTTPValidationError": { "properties": { "detail": { "items": { "$ref": "#/components/schemas/ValidationError" }, "type": "array", "title": "Detail" } }, "type": "object", "title": "HTTPValidationError" }, "LogLevel": { "type": "string", "enum": [ "trce", "debg", "info", "erro" ], "title": "LogLevel", "description": "Log level for agent log entries." }, "LogType": { "type": "string", "enum": [ "execution", "system" ], "title": "LogType", "description": "Type of agent log entry." }, "NewAgent": { "properties": { "name": { "type": "string", "title": "Name", "description": "Name of the new agent." }, "readme": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Readme", "description": "Readme content for the agent." }, "avatar_url": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Avatar Url", "description": "URL of the agent's avatar." }, "short_description": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Short Description", "description": "Brief description." }, "network": { "$ref": "#/components/schemas/AgentNetwork", "description": "Network on which the agent will register (mainnet or testnet)", "default": "testnet" } }, "type": "object", "required": [ "name" ], "title": "NewAgent", "description": "Request model for creating a new agent." }, "PublicAgentV1": { "properties": { "name": { "type": "string", "title": "Name", "description": "Name of the agent." }, "author_username": { "type": "string", "title": "Author Username", "description": "Username of the agent's author." }, "address": { "type": "string", "title": "Address", "description": "Bech32 address of the agent." }, "domain": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Domain", "description": "Custom domain for the agent." }, "prefix": { "anyOf": [ { "type": "string", "enum": [ "agent", "test-agent" ] }, { "type": "null" } ], "title": "Prefix", "description": "Address prefix for the agent.", "default": "test-agent" }, "running": { "type": "boolean", "title": "Running", "description": "Indicates if the agent is currently running." }, "readme": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Readme", "description": "README text for the agent." }, "short_description": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Short Description", "description": "Short description for the agent." }, "last_updated_at": { "type": "string", "format": "date-time", "title": "Last Updated At", "description": "Timestamp when the agent was last updated." }, "created_at": { "type": "string", "format": "date-time", "title": "Created At", "description": "Timestamp when the agent was created." }, "maintainer_id": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Maintainer Id", "description": "User ID of the agent maintainer." }, "avatar_url": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Avatar Url", "description": "URL of the agent's avatar." }, "metadata": { "anyOf": [ { "$ref": "#/components/schemas/AgentMetadata" }, { "type": "null" } ], "description": "Metadata associated with the agent." } }, "type": "object", "required": [ "name", "author_username", "address", "running", "last_updated_at", "created_at" ], "title": "PublicAgentV1", "description": "V1 Public agent model with profile fields." }, "Secret": { "properties": { "name": { "type": "string", "title": "Name", "description": "Name of the secret." }, "secret": { "type": "string", "title": "Secret", "description": "Masked secret value." }, "timestamp": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Timestamp", "description": "Timestamp of creation." } }, "type": "object", "required": [ "name", "secret" ], "title": "Secret", "description": "Secret model." }, "SecretCreate": { "properties": { "address": { "type": "string", "title": "Address", "description": "Address of the agent associated with this secret." }, "name": { "type": "string", "title": "Name", "description": "Identifier for the secret; must be a valid Python identifier." }, "secret": { "type": "string", "title": "Secret", "description": "Sensitive data to be stored securely." } }, "type": "object", "required": [ "address", "name", "secret" ], "title": "SecretCreate", "description": "Model for creating a secret." }, "SecretList": { "properties": { "secrets": { "items": { "$ref": "#/components/schemas/Secret" }, "type": "array", "title": "Secrets", "description": "List containing metadata of all stored secrets, with masked secret values." } }, "type": "object", "required": [ "secrets" ], "title": "SecretList", "description": "List of secrets." }, "SecretUpdate": { "properties": { "secret": { "type": "string", "title": "Secret", "description": "Sensitive data to be stored securely." } }, "type": "object", "required": [ "secret" ], "title": "SecretUpdate" }, "StorageItem": { "properties": { "key": { "type": "string", "title": "Key", "description": "The key identifying the storage item." }, "value": { "type": "string", "title": "Value", "description": "The stored value corresponding to the key." } }, "type": "object", "required": [ "key", "value" ], "title": "StorageItem", "description": "Storage item model." }, "StorageItemUpdate": { "properties": { "value": { "type": "string", "title": "Value", "description": "The new value to update for the specified storage key." } }, "type": "object", "required": [ "value" ], "title": "StorageItemUpdate", "description": "Model for updating storage item." }, "UpdateAgent": { "properties": { "name": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Name", "description": "Updated agent's display name." }, "readme": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Readme", "description": "Updated README content." }, "avatar_url": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Avatar Url", "description": "New URL for the agent avatar image." }, "short_description": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Short Description", "description": "Short description of the agent." } }, "type": "object", "title": "UpdateAgent" }, "UpdateAgentCode": { "properties": { "code": { "type": "string", "title": "Code", "description": "The updated source code for the agent, formatted as a JSON string containing files and content." } }, "type": "object", "required": [ "code" ], "title": "UpdateAgentCode", "description": "Model for updating agent code." }, "UpdateAgentNetwork": { "properties": { "network": { "$ref": "#/components/schemas/AgentNetwork", "description": "Specifies the target network (mainnet or testnet) to update for the agent.", "default": "testnet" } }, "type": "object", "title": "UpdateAgentNetwork" }, "ValidationError": { "properties": { "loc": { "items": { "anyOf": [ { "type": "string" }, { "type": "integer" } ] }, "type": "array", "title": "Location" }, "msg": { "type": "string", "title": "Message" }, "type": { "type": "string", "title": "Error Type" } }, "type": "object", "required": [ "loc", "msg", "type" ], "title": "ValidationError" }, "WithPagination_AgentSummaryV1_": { "properties": { "items": { "items": { "$ref": "#/components/schemas/AgentSummaryV1" }, "type": "array", "title": "Items" }, "next_cursor": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Next Cursor" } }, "type": "object", "required": [ "items" ], "title": "WithPagination[AgentSummaryV1]" }, "WithPagination_AgentV2_": { "properties": { "items": { "items": { "$ref": "#/components/schemas/AgentV2" }, "type": "array", "title": "Items" }, "next_cursor": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Next Cursor" } }, "type": "object", "required": [ "items" ], "title": "WithPagination[AgentV2]" }, "WithPagination_StorageItem_": { "properties": { "items": { "items": { "$ref": "#/components/schemas/StorageItem" }, "type": "array", "title": "Items" }, "next_cursor": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Next Cursor" } }, "type": "object", "required": [ "items" ], "title": "WithPagination[StorageItem]" } }, "securitySchemes": { "FaunaAuthorizationScheme": { "type": "oauth2", "flows": { "authorizationCode": { "scopes": {}, "authorizationUrl": "", "tokenUrl": "token" } } } } } }
