{ "openapi": "3.0.0", "info": { "title": "Agentverse Mailbox API", "description": "The Mailbox API handles agent message delivery, registration, storage quotas, and usage tracking within the Agentverse platform. It supports secure agent communication through cryptographic authentication", "version": "1.0.0" }, "servers": [ { "url": "https://agentverse.ai" } ], "paths": { "/v1/auth/challenge": { "post": { "tags": [ "auth" ], "summary": "Handle Challenge Request", "operationId": "request_challenge", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChallengeRequest" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChallengeResponse" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/auth/prove": { "post": { "tags": [ "auth" ], "summary": "Submit Proof", "operationId": "submit_proof", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProofRequest" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProofResponse" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/submit": { "post": { "tags": [ "exchange" ], "summary": "Submit Message Envelope", "operationId": "submit_message_envelope", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "head": { "tags": [ "exchange" ], "summary": "Agent Readiness Probe", "operationId": "agent_readiness_probe", "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } } } } }, "/v1/mailbox": { "get": { "tags": [ "mailbox" ], "summary": "List Mailbox Messages", "operationId": "list_mailbox_messages", "parameters": [ { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "description": "Page number", "default": 1, "title": "Page" }, "description": "Page number" }, { "name": "size", "in": "query", "required": false, "schema": { "type": "integer", "maximum": 100, "minimum": 1, "description": "Page size", "default": 50, "title": "Size" }, "description": "Page size" }, { "name": "authorization", "in": "header", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Authorization" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Page_StoredEnvelope_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "mailbox" ], "summary": "Delete All Mailbox Messages", "operationId": "delete_all_mailbox_messages", "parameters": [ { "name": "authorization", "in": "header", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Authorization" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/mailbox/{uuid}": { "get": { "tags": [ "mailbox" ], "summary": "Get Specific Envelope", "operationId": "get_specific_envelope", "parameters": [ { "name": "uuid", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid4", "title": "Uuid" } }, { "name": "authorization", "in": "header", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Authorization" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StoredEnvelope" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "mailbox" ], "summary": "Delete Specific Envelope", "operationId": "delete_specific_envelope", "parameters": [ { "name": "uuid", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid4", "title": "Uuid" } }, { "name": "authorization", "in": "header", "required": false, "schema": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Authorization" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/proxy/submit": { "post": { "tags": [ "exchange" ], "summary": "Submit Message Envelope", "operationId": "submit_proxy_message_envelope", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "head": { "tags": [ "exchange" ], "summary": "Agent Readiness Probe", "operationId": "proxy_agent_readiness_probe", "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } } } } }, "/v1/agents": { "post": { "tags": [ "auth" ], "summary": "Register", "operationId": "register_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegistrationRequest" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegistrationResponse" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "get": { "tags": [ "agents" ], "summary": "List User Agents", "operationId": "list_user_agents", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "description": "Page number", "default": 1, "title": "Page" }, "description": "Page number" }, { "name": "size", "in": "query", "required": false, "schema": { "type": "integer", "maximum": 100, "minimum": 1, "description": "Page size", "default": 50, "title": "Size" }, "description": "Page size" } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Page_Agent_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/mailroom/teams/{slug}/agents": { "get": { "tags": [ "agents" ], "summary": "List Team Agents", "operationId": "list_team_agents", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "description": "Page number", "default": 1, "title": "Page" }, "description": "Page number" }, { "name": "size", "in": "query", "required": false, "schema": { "type": "integer", "maximum": 100, "minimum": 1, "description": "Page size", "default": 50, "title": "Size" }, "description": "Page size" } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Page_Agent_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/agents/{address}": { "get": { "tags": [ "agents" ], "summary": "Get Specific User Agent", "operationId": "get_user_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "agents" ], "summary": "Update Specific User Agent", "operationId": "update_user_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentUpdates" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "agents" ], "summary": "Delete Specific User Agent", "operationId": "delete_user_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/mailroom/teams/{slug}/agents/{address}": { "get": { "tags": [ "agents" ], "summary": "Get Specific Team Agent", "operationId": "get_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "put": { "tags": [ "agents" ], "summary": "Update Specific Team Agent", "operationId": "update_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentUpdates" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "agents" ], "summary": "Delete Specific Team Agent", "operationId": "delete_team_agent", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/agents/{address}/profile": { "get": { "tags": [ "agents" ], "summary": "Get Public Agent Profile", "operationId": "get_public_agent_profile", "parameters": [ { "name": "address", "in": "path", "required": true, "schema": { "type": "string", "title": "Address" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublicAgent" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/api-keys": { "get": { "tags": [ "api-keys" ], "summary": "List User Api Keys", "operationId": "list_user_api_keys", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "description": "Page number", "default": 1, "title": "Page" }, "description": "Page number" }, { "name": "size", "in": "query", "required": false, "schema": { "type": "integer", "maximum": 100, "minimum": 1, "description": "Page size", "default": 50, "title": "Size" }, "description": "Page size" } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Page_leaf_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "post": { "tags": [ "api-keys" ], "summary": "Add User Api Key", "operationId": "add_user_api_key", "security": [ { "FaunaAuthorizationScheme": [] } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewApiKey" } } } }, "responses": { "201": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbApiKey__leaf" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/mailroom/teams/{slug}/api-keys": { "get": { "tags": [ "api-keys" ], "summary": "List Team Api Keys", "operationId": "list_team_api_keys", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "description": "Page number", "default": 1, "title": "Page" }, "description": "Page number" }, { "name": "size", "in": "query", "required": false, "schema": { "type": "integer", "maximum": 100, "minimum": 1, "description": "Page size", "default": 50, "title": "Size" }, "description": "Page size" } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Page_leaf_" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "post": { "tags": [ "api-keys" ], "summary": "Add Teams Api Key", "operationId": "add_teams_api_key", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewApiKey" } } } }, "responses": { "201": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbApiKey__leaf" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/api-keys/{id}": { "put": { "tags": [ "api-keys" ], "summary": "Update User Api Key", "operationId": "update_user_api_key", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "title": "Id" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbApiKey__leaf" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "api-keys" ], "summary": "Delete User Api Key", "operationId": "delete_user_api_key", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "title": "Id" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/mailroom/teams/{slug}/api-keys/{id}": { "put": { "tags": [ "api-keys" ], "summary": "Update Teams Api Key", "operationId": "update_team_api_key", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "title": "Id" } }, { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbApiKey__leaf" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "delete": { "tags": [ "api-keys" ], "summary": "Delete Teams Api Key", "operationId": "delete_teams_api_key", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } }, { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "title": "Id" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/profile/usage": { "get": { "tags": [ "profile" ], "summary": "Get User Usage", "operationId": "get_user_usage", "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserUsage" } } } } }, "security": [ { "FaunaAuthorizationScheme": [] } ] } }, "/v1/mailroom/teams/{slug}/profile/usage": { "get": { "tags": [ "profile" ], "summary": "Get User Usage", "operationId": "get_team_user_usage", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "slug", "in": "path", "required": true, "schema": { "type": "string", "title": "Slug" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserUsage" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/feedback": { "post": { "tags": [ "feedback" ], "summary": "Submit Feedback", "operationId": "submit_authenticated_feedback", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Feedback" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } }, "security": [ { "FaunaAuthorizationScheme": [] } ] } }, "/v1/feedback-anon": { "post": { "tags": [ "feedback" ], "summary": "Submit Anon Feedback", "operationId": "submit_anonymous_feedback", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FeedbackAnon" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/users/{uid}": { "delete": { "tags": [ "users" ], "summary": "Delete User", "operationId": "delete_user", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "uid", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid4", "title": "Uid" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } }, "get": { "tags": [ "users" ], "summary": "Get User By Id", "operationId": "get_user_by_id", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "uid", "in": "path", "required": true, "schema": { "type": "string", "title": "Uid" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "anyOf": [ { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbUser__leaf" }, { "type": "null" } ], "title": "Response Get User By Id" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/users": { "put": { "tags": [ "users" ], "summary": "Update User", "operationId": "update_username", "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserUpdate" } } }, "required": true }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "anyOf": [ { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbUser__leaf" }, { "type": "null" } ], "title": "Response Update Username" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } }, "security": [ { "FaunaAuthorizationScheme": [] } ] } }, "/v1/users/mail/{uid}": { "put": { "tags": [ "users" ], "summary": "Update User Mail", "operationId": "update_user_email", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "uid", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid4", "title": "Uid" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserMailUpdate" } } } }, "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Empty" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/users/username/{username}": { "get": { "tags": [ "users" ], "summary": "User Name Available", "operationId": "check_username_availability", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "username", "in": "path", "required": true, "schema": { "type": "string", "title": "Username" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "boolean", "title": "Response Check Username Availability" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/users/username/search/{username}": { "get": { "tags": [ "users" ], "summary": "Search User", "operationId": "search_users_by_username", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "username", "in": "path", "required": true, "schema": { "type": "string", "title": "Username" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbUser__leaf" }, "title": "Response Search Users By Username" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/users/agent/{agent_address}": { "get": { "tags": [ "users" ], "summary": "Get User By Agent", "operationId": "get_user_by_agent_address", "security": [ { "FaunaAuthorizationScheme": [] } ], "parameters": [ { "name": "agent_address", "in": "path", "required": true, "schema": { "type": "string", "title": "Agent Address" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "anyOf": [ { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbUser__leaf" }, { "type": "null" } ], "title": "Response Get User By Agent Address" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/users/public/{uid}": { "get": { "tags": [ "users" ], "summary": "Get User Public", "operationId": "get_user_public_profile", "parameters": [ { "name": "uid", "in": "path", "required": true, "schema": { "type": "string", "title": "Uid" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "anyOf": [ { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbUser__leaf" }, { "type": "null" } ], "title": "Response Get User Public Profile" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } }, "/v1/user_list/": { "get": { "tags": [ "users" ], "summary": "Get User List", "operationId": "get_user_list", "parameters": [ { "name": "uids", "in": "query", "required": false, "schema": { "type": "array", "items": { "type": "string" }, "default": [], "title": "Uids" } } ], "responses": { "200": { "description": "Successful Response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbUser__leaf" }, "title": "Response Get User List" } } } }, "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } } } } } }, "components": { "schemas": { "Agent": { "properties": { "address": { "type": "string", "pattern": "^agent1[qpzry9x8gf2tvdw0s3jn54khce6mua7l]{59}$", "title": "Address", "description": "Bech32 address of the agent" }, "prefix": { "type": "string", "maxLength": 16, "title": "Prefix", "description": "Prefix to distinguish agent's environment (e.g., 'test-agent')" }, "name": { "type": "string", "maxLength": 80, "minLength": 0, "title": "Name", "description": "Name of the agent" }, "pending_messages": { "type": "integer", "title": "Pending Messages", "description": "Number of pending messages for the agent" }, "bytes_transferred": { "type": "integer", "title": "Bytes Transferred", "description": "Total bytes transferred for this agent" }, "previous_bytes_transferred": { "type": "integer", "title": "Previous Bytes Transferred", "description": "Previously recorded transferred bytes" }, "readme": { "anyOf": [ { "type": "string", "maxLength": 80000 }, { "type": "null" } ], "title": "Readme", "description": "Long description of the agent" }, "avatar_url": { "anyOf": [ { "type": "string", "maxLength": 4000 }, { "type": "null" } ], "title": "Avatar Url", "description": "URL for the agent's avatar" }, "short_description": { "anyOf": [ { "type": "string", "maxLength": 300 }, { "type": "null" } ], "title": "Short Description", "description": "Short summary of the agent" }, "agent_type": { "anyOf": [ { "type": "string", "enum": [ "mailbox", "proxy", "custom" ] }, { "type": "null" } ], "title": "Agent Type", "description": "Type of the agent (mailbox, proxy, custom)" } }, "type": "object", "required": [ "address", "prefix", "name", "pending_messages", "bytes_transferred", "previous_bytes_transferred" ], "title": "Agent" }, "AgentUpdates": { "properties": { "name": { "type": "string", "maxLength": 80, "minLength": 1, "title": "Name", "description": "Updated name of the agent." }, "readme": { "anyOf": [ { "type": "string", "maxLength": 80000 }, { "type": "null" } ], "title": "Readme", "description": "Updated long markdown description of the agent." }, "avatar_url": { "anyOf": [ { "type": "string", "maxLength": 4000 }, { "type": "null" } ], "title": "Avatar Url", "description": "Updated avatar URL of the agent." }, "short_description": { "anyOf": [ { "type": "string", "maxLength": 300 }, { "type": "null" } ], "title": "Short Description", "description": "Updated short summary of the agent." }, "agent_type": { "anyOf": [ { "type": "string", "enum": [ "mailbox", "proxy", "custom" ] }, { "type": "null" } ], "title": "Agent Type", "description": "Updated type of the agent (default is 'mailbox').", "default": "mailbox" } }, "type": "object", "required": [ "name" ], "title": "AgentUpdates" }, "ApiKeyUpdate": { "properties": { "id": { "type": "string", "title": "Id", "description": "Identifier of the API key to update." }, "expiry": { "type": "integer", "title": "Expiry", "description": "New expiration timestamp in milliseconds since epoch." } }, "type": "object", "required": [ "id", "expiry" ], "title": "ApiKeyUpdate" }, "ChallengeRequest": { "properties": { "address": { "type": "string", "title": "Address" } }, "type": "object", "required": [ "address" ], "title": "ChallengeRequest" }, "ChallengeResponse": { "properties": { "challenge": { "type": "string", "title": "Challenge" } }, "type": "object", "required": [ "challenge" ], "title": "ChallengeResponse" }, "Empty": { "properties": {}, "type": "object", "title": "Empty" }, "Envelope": { "properties": { "version": { "type": "integer", "title": "Version" }, "sender": { "type": "string", "title": "Sender" }, "target": { "type": "string", "title": "Target" }, "session": { "type": "string", "format": "uuid4", "title": "Session" }, "schema_digest": { "type": "string", "title": "Schema Digest" }, "protocol_digest": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Protocol Digest" }, "payload": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Payload" }, "expires": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Expires" }, "nonce": { "anyOf": [ { "type": "integer" }, { "type": "null" } ], "title": "Nonce" }, "signature": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Signature" } }, "type": "object", "required": [ "version", "sender", "target", "session", "schema_digest" ], "title": "Envelope" }, "Feedback": { "properties": { "score": { "type": "integer", "maximum": 4.0, "minimum": 1.0, "title": "Score", "description": "Feedback score between 1 (bad) and 4 (excellent)." }, "feedback": { "type": "string", "title": "Feedback", "description": "Detailed user feedback or comment." } }, "type": "object", "required": [ "score", "feedback" ], "title": "Feedback" }, "FeedbackAnon": { "properties": { "source": { "type": "string", "title": "Source", "description": "Source identifier" }, "feedback": { "type": "string", "title": "Feedback", "description": "Anonymous user feedback or comment." } }, "type": "object", "required": [ "source", "feedback" ], "title": "FeedbackAnon" }, "HTTPValidationError": { "properties": { "detail": { "items": { "$ref": "#/components/schemas/ValidationError" }, "type": "array", "title": "Detail" } }, "type": "object", "title": "HTTPValidationError" }, "NewApiKey": { "properties": { "id": { "type": "string", "title": "Id", "description": "Unique identifier for the API key." }, "expiry": { "type": "integer", "title": "Expiry", "description": "Expiration timestamp in milliseconds since epoch." }, "name": { "type": "string", "maxLength": 250, "minLength": 1, "title": "Name", "description": "Name for the API key." }, "scope": { "type": "string", "title": "Scope", "description": "Scope or permissions granted by the API key.", "default": "" } }, "type": "object", "required": [ "id", "expiry", "name" ], "title": "NewApiKey" }, "Page_Agent_": { "properties": { "items": { "items": { "$ref": "#/components/schemas/Agent" }, "type": "array", "title": "Items" }, "total": { "anyOf": [ { "type": "integer", "minimum": 0.0 }, { "type": "null" } ], "title": "Total" }, "page": { "anyOf": [ { "type": "integer", "minimum": 1.0 }, { "type": "null" } ], "title": "Page" }, "size": { "anyOf": [ { "type": "integer", "minimum": 1.0 }, { "type": "null" } ], "title": "Size" }, "pages": { "anyOf": [ { "type": "integer", "minimum": 0.0 }, { "type": "null" } ], "title": "Pages" } }, "type": "object", "required": [ "items", "total", "page", "size" ], "title": "Page[Agent]" }, "Page_StoredEnvelope_": { "properties": { "items": { "items": { "$ref": "#/components/schemas/StoredEnvelope" }, "type": "array", "title": "Items" }, "total": { "anyOf": [ { "type": "integer", "minimum": 0.0 }, { "type": "null" } ], "title": "Total" }, "page": { "anyOf": [ { "type": "integer", "minimum": 1.0 }, { "type": "null" } ], "title": "Page" }, "size": { "anyOf": [ { "type": "integer", "minimum": 1.0 }, { "type": "null" } ], "title": "Size" }, "pages": { "anyOf": [ { "type": "integer", "minimum": 0.0 }, { "type": "null" } ], "title": "Pages" } }, "type": "object", "required": [ "items", "total", "page", "size" ], "title": "Page[StoredEnvelope]" }, "Page_leaf_": { "properties": { "items": { "items": { "$ref": "#/components/schemas/tortoise__contrib__pydantic__creator__relay__db__models__DbApiKey__leaf" }, "type": "array", "title": "Items" }, "total": { "anyOf": [ { "type": "integer", "minimum": 0.0 }, { "type": "null" } ], "title": "Total" }, "page": { "anyOf": [ { "type": "integer", "minimum": 1.0 }, { "type": "null" } ], "title": "Page" }, "size": { "anyOf": [ { "type": "integer", "minimum": 1.0 }, { "type": "null" } ], "title": "Size" }, "pages": { "anyOf": [ { "type": "integer", "minimum": 0.0 }, { "type": "null" } ], "title": "Pages" } }, "type": "object", "required": [ "items", "total", "page", "size" ], "title": "Page[relay.db.models.DbApiKey.leaf]" }, "ProofRequest": { "properties": { "address": { "type": "string", "title": "Address", "description": "Address of the agent requesting authentication." }, "challenge": { "type": "string", "title": "Challenge", "description": "Challenge string previously issued to this agent." }, "challenge_response": { "type": "string", "title": "Challenge Response", "description": "Response proving ownership of the address." } }, "type": "object", "required": [ "address", "challenge", "challenge_response" ], "title": "ProofRequest" }, "ProofResponse": { "properties": { "access_token": { "type": "string", "title": "Access Token", "description": "Access token generated upon successful proof." }, "expiry": { "type": "string", "format": "date-time", "title": "Expiry", "description": "UTC datetime at which the access token expires." } }, "type": "object", "required": [ "access_token", "expiry" ], "title": "ProofResponse" }, "PublicAgent": { "properties": { "address": { "type": "string", "pattern": "^agent1[qpzry9x8gf2tvdw0s3jn54khce6mua7l]{59}$", "title": "Address", "description": "Bech32 address of the public agent." }, "prefix": { "type": "string", "maxLength": 16, "title": "Prefix", "description": "Environment prefix, typically 'test-agent'.", "default": "test-agent" }, "name": { "type": "string", "maxLength": 80, "minLength": 1, "title": "Name", "description": "Name of the public agent." }, "readme": { "anyOf": [ { "type": "string", "maxLength": 80000 }, { "type": "null" } ], "title": "Readme", "description": "Full markdown description of the agent." }, "avatar_url": { "anyOf": [ { "type": "string", "maxLength": 4000 }, { "type": "null" } ], "title": "Avatar Url", "description": "URL of the public avatar for the agent." }, "short_description": { "anyOf": [ { "type": "string", "maxLength": 300 }, { "type": "null" } ], "title": "Short Description", "description": "One-line description or tagline for the agent." } }, "type": "object", "required": [ "address", "name" ], "title": "PublicAgent" }, "RegistrationRequest": { "properties": { "address": { "type": "string", "title": "Address" }, "prefix": { "anyOf": [ { "type": "string", "enum": [ "agent", "test-agent" ] }, { "type": "null" } ], "title": "Prefix", "default": "test-agent" }, "challenge": { "type": "string", "title": "Challenge" }, "challenge_response": { "type": "string", "title": "Challenge Response" }, "agent_type": { "type": "string", "enum": [ "mailbox", "proxy", "custom" ], "title": "Agent Type" }, "endpoint": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Endpoint" } }, "type": "object", "required": [ "address", "challenge", "challenge_response", "agent_type" ], "title": "RegistrationRequest" }, "RegistrationResponse": { "properties": { "success": { "type": "boolean", "title": "Success", "description": "Agent registration was successful." } }, "type": "object", "required": [ "success" ], "title": "RegistrationResponse" }, "StoredEnvelope": { "properties": { "uuid": { "type": "string", "format": "uuid4", "title": "Uuid" }, "envelope": { "$ref": "#/components/schemas/Envelope" }, "received_at": { "type": "string", "format": "date-time", "title": "Received At" }, "expires_at": { "type": "string", "format": "date-time", "title": "Expires At" } }, "type": "object", "required": [ "uuid", "envelope", "received_at", "expires_at" ], "title": "StoredEnvelope" }, "UserMailUpdate": { "properties": { "email": { "type": "string", "title": "Email", "description": "New email address for the user." } }, "type": "object", "required": [ "email" ], "title": "UserMailUpdate" }, "UserUpdate": { "properties": { "username": { "type": "string", "title": "Username", "description": "New username for the user." } }, "type": "object", "required": [ "username" ], "title": "UserUpdate" }, "UserUsage": { "properties": { "bytes_transferred": { "type": "integer", "title": "Bytes Transferred", "description": "Number of bytes transferred by the user." }, "bytes_transferred_limit": { "type": "integer", "title": "Bytes Transferred Limit", "description": "Maximum allowed bytes transferred." }, "num_messages": { "type": "integer", "title": "Num Messages", "description": "Total number of messages sent." }, "num_messages_limit": { "type": "integer", "title": "Num Messages Limit", "description": "Maximum number of messages allowed." }, "bytes_stored": { "type": "integer", "title": "Bytes Stored", "description": "Current number of bytes stored by the user." }, "bytes_stored_limit": { "type": "integer", "title": "Bytes Stored Limit", "description": "Maximum allowed stored bytes." }, "num_agents": { "type": "integer", "title": "Num Agents", "description": "Number of agents owned by the user." }, "num_agents_limit": { "type": "integer", "title": "Num Agents Limit", "description": "Maximum number of agents allowed." }, "expiry": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Expiry", "description": "Plan expiry date, if using a new-style plan." } }, "type": "object", "required": [ "bytes_transferred", "bytes_transferred_limit", "num_messages", "num_messages_limit", "bytes_stored", "bytes_stored_limit", "num_agents", "num_agents_limit" ], "title": "UserUsage" }, "ValidationError": { "properties": { "loc": { "items": { "anyOf": [ { "type": "string" }, { "type": "integer" } ] }, "type": "array", "title": "Location" }, "msg": { "type": "string", "title": "Message" }, "type": { "type": "string", "title": "Error Type" } }, "type": "object", "required": [ "loc", "msg", "type" ], "title": "ValidationError" }, "tortoise__contrib__pydantic__creator__relay__db__models__DbApiKey__leaf": { "properties": { "id": { "type": "string", "maxLength": 80, "title": "Id" }, "name": { "type": "string", "maxLength": 80, "title": "Name" }, "expires_at": { "type": "string", "format": "date-time", "title": "Expires At" }, "scope": { "anyOf": [ { "type": "string", "maxLength": 250 }, { "type": "null" } ], "title": "Scope", "default": "" } }, "additionalProperties": false, "type": "object", "required": [ "id", "name", "expires_at" ], "title": "DbApiKey" }, "tortoise__contrib__pydantic__creator__relay__db__models__DbUser__leaf": { "properties": { "uid": { "type": "string", "maxLength": 64, "title": "Uid" }, "registered_at": { "anyOf": [ { "type": "string", "format": "date-time" }, { "type": "null" } ], "title": "Registered At", "readOnly": true, "nullable": true }, "username": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Username", "default": "", "nullable": true }, "bytes_stored": { "anyOf": [ { "type": "integer", "maximum": 9.223372036854776e+18, "minimum": -9.223372036854776e+18 }, { "type": "null" } ], "title": "Bytes Stored", "default": 0 }, "bytes_transferred": { "anyOf": [ { "type": "integer", "maximum": 9.223372036854776e+18, "minimum": -9.223372036854776e+18 }, { "type": "null" } ], "title": "Bytes Transferred", "default": 0 }, "developer_category": { "anyOf": [ { "type": "string", "maxLength": 11 }, { "type": "null" } ], "title": "Developer Category", "description": "Community: Community<br/>Verified: Verified<br/>FetchMember: FetchMember", "default": "Community", "nullable": true }, "email": { "anyOf": [ { "type": "string" }, { "type": "null" } ], "title": "Email", "default": "", "nullable": true } }, "additionalProperties": false, "type": "object", "required": [ "uid" ], "title": "DbUser" } }, "securitySchemes": { "FaunaAuthorizationScheme": { "type": "oauth2", "flows": { "authorizationCode": { "scopes": {}, "authorizationUrl": "", "tokenUrl": "token" } } } } } }
